<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GiaoDien.Properties.Settings.TrungTamTinHocConnectionString"
            connectionString="Data Source=LAPTOP-755C2GPC;Initial Catalog=TrungTamTinHoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GiaoDien.Properties.Settings.TrungTamTinHocConnectionString1"
            connectionString="Data Source=LAPTOP-I57CUPF4;Initial Catalog=TrungTamTinHoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
